<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Görev Listesi</ion-title>
		<ion-buttons slot="end">
			<ion-icon color="primary" size="large" name="notifications-circle-outline">
			</ion-icon>
			<ion-badge color="danger badge-one">1</ion-badge>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid>
		<ion-row>
			<ion-col size="7">
				<p>Görev Tamamlama 5/10</p>
				<ion-progress-bar value="0.5" buffer="0.5"></ion-progress-bar>
			</ion-col>
			<ion-col size="5">
				<ion-item class="control-approve" lines="none" routerLink="/auth" routerDirection="root">
					<img src="../assets/svg/handstop-ico.svg">
					<ion-text>Çıkış Onayı Bekleniyor</ion-text>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid>
		<ion-row>
			<ion-col size="4">
				<ion-list>
					<ion-item id="select-all" lines="none">
						<ion-checkbox></ion-checkbox>
						<ion-label>Tümünü Seç</ion-label>
					</ion-item>
				</ion-list>
			</ion-col>
			<ion-col size="8">
				<div class="scroll-item">
					<ion-button size="small">Tüm Görevler</ion-button>
					<ion-button size="small">Tamamlanan Görevler</ion-button>
					<ion-button size="small">Toplama Görevleri</ion-button>
					<ion-button size="small">Dağıtım Görevleri</ion-button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>


	<ion-grid class="ion-no-padding tasklisting">
		<ion-col>
			<ion-list>
				<!-- task -->
				<ion-item lines="none" class="ion-no-padding delivery">
					<ion-grid class="ion-no-padding">
						<ion-row >
							<ion-col size="4">
								<div class="task-info">
									<div class="task-check"><ion-checkbox color="primary"></ion-checkbox></div>
									<div class="task-status">
										<ion-label>ATANDI</ion-label>	
									</div>
									<div class="task-order">1</div>
								</div>
								<div class="task-note">TESLİMAT</div>
								<div class="task-icon">
									<img src="../assets/svg/status-1.svg">
									<img src="../assets/svg/status-2.svg">
									<img src="../assets/svg/status-3.svg">
									<img src="../assets/svg/status-4.svg">
									<img src="../assets/svg/status-5.svg">
									<img src="../assets/svg/status-6.svg">
									<img src="../assets/svg/status-7.svg">
									<img src="../assets/svg/status-8.svg">
								</div>
							</ion-col>
							<ion-col size="8">
							<div class="task-detail">
								<div class="task-menu">
									<ion-buttons (click)="presentActionSheet()">
										<ion-icon name="menu-outline" size="large"></ion-icon>
									</ion-buttons>
								</div>
								<div class="task-link" routerLink="/tabs/deliverydetail" routerDirection="forward"></div>
								<div class="task-name">Elif Yüksek Karakaş</div>
								<div class="task-no">TAKİP NO: TK03224</div>
								<div class="task-adress">Murat Reis Mahallesi Silahtarbahçe Sk No:40 D.3 Üsküdar/İstanbul</div>
							</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
				<!-- .task -->
				<!-- task -->
				<ion-item lines="none" class="ion-no-padding delivery-finish">
					<ion-grid class="ion-no-padding">
						<ion-row >
							<ion-col size="4">
								<div class="task-info">
									<div class="task-check"><ion-checkbox color="primary"></ion-checkbox></div>
									<div class="task-status">
										<ion-label>BİTTİ</ion-label>	
									</div>
									<div class="task-order">2</div>
								</div>
								<div class="task-note">TESLİMAT</div>
								<div class="task-icon">
									<img src="../assets/svg/status-1.svg">
									<img src="../assets/svg/status-2.svg">
									<img src="../assets/svg/status-3.svg">
									<img src="../assets/svg/status-4.svg">
						
								</div>
							</ion-col>
							<ion-col size="8">
							<div class="task-detail">
								<div class="task-menu">
									<ion-buttons (click)="presentActionSheet()">
										<ion-icon name="menu-outline" size="large"></ion-icon>
									</ion-buttons>
								</div>
								<div class="task-link" routerLink="/auth" routerDirection="root"></div>
								<div class="task-name">Senai Kalafat</div>
								<div class="task-no">TAKİP NO: TK03224</div>
								<div class="task-adress">Murat Reis Mahallesi Silahtarbahçe Sk No:40 D.3 Üsküdar/İstanbul</div>
							</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
				<!-- .task -->
				<!-- task -->
				<ion-item lines="none" class="ion-no-padding delivery-blank">
					<ion-grid class="ion-no-padding">
						<ion-row >
							<ion-col size="4">
								<div class="task-info">
									<div class="task-check"><ion-checkbox color="primary"></ion-checkbox></div>
									<div class="task-status">
										<ion-label>ATANDI</ion-label>	
									</div>
									<div class="task-order">3</div>
								</div>
								<div class="task-note">TOPLAMA</div>
								<div class="task-icon">
									<img src="../assets/svg/status-1.svg">
									<img src="../assets/svg/status-2.svg">
									<img src="../assets/svg/status-3.svg">
									<img src="../assets/svg/status-6.svg">
									<img src="../assets/svg/status-8.svg">
								</div>
							</ion-col>
							<ion-col size="8">
							<div class="task-detail">
								<div class="task-menu">
									<ion-buttons (click)="presentActionSheet()">
										<ion-icon name="menu-outline" size="large"></ion-icon>
									</ion-buttons>
								</div>
								<div class="task-link" routerLink="/auth" routerDirection="root"></div>
								<div class="task-name">Elif Yüksek Karakaş</div>
								<div class="task-no">TAKİP NO: TK03224</div>
								<div class="task-adress">Murat Reis Mahallesi Silahtarbahçe Sk No:40 D.3 Üsküdar/İstanbul</div>
							</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
				<!-- .task -->
								<!-- task -->
								<ion-item lines="none" class="ion-no-padding delivery-blank">
									<ion-grid class="ion-no-padding">
										<ion-row >
											<ion-col size="4">
												<div class="task-info">
													<div class="task-check"><ion-checkbox color="primary"></ion-checkbox></div>
													<div class="task-status">
														<ion-label>ATANDI</ion-label>	
													</div>
													<div class="task-order">3</div>
												</div>
												<div class="task-note">TOPLAMA</div>
												<div class="task-icon">
													<img src="../assets/svg/status-1.svg">
													<img src="../assets/svg/status-2.svg">
													<img src="../assets/svg/status-3.svg">
													<img src="../assets/svg/status-6.svg">
													<img src="../assets/svg/status-8.svg">
												</div>
											</ion-col>
											<ion-col size="8">
											<div class="task-detail">
												<div class="task-menu">
													<ion-buttons (click)="presentActionSheet()">
														<ion-icon name="menu-outline" size="large"></ion-icon>
													</ion-buttons>
												</div>
												<div class="task-name">Elif Yüksek Karakaş</div>
												<div class="task-no">TAKİP NO: TK03224</div>
												<div class="task-adress">Murat Reis Mahallesi Silahtarbahçe Sk No:40 D.3 Üsküdar/İstanbul</div>
											</div>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-item>
								<!-- .task -->
												<!-- task -->
				<ion-item lines="none" class="ion-no-padding delivery-blank">
					<ion-grid class="ion-no-padding">
						<ion-row >
							<ion-col size="4">
								<div class="task-info">
									<div class="task-check"><ion-checkbox color="primary"></ion-checkbox></div>
									<div class="task-status">
										<ion-label>ATANDI</ion-label>	
									</div>
									<div class="task-order">3</div>
								</div>
								<div class="task-note">TOPLAMA</div>
								<div class="task-icon">
									<img src="../assets/svg/status-1.svg">
									<img src="../assets/svg/status-2.svg">
									<img src="../assets/svg/status-3.svg">
									<img src="../assets/svg/status-6.svg">
									<img src="../assets/svg/status-8.svg">
								</div>
							</ion-col>
							<ion-col size="8">
							<div class="task-detail">
								<div class="task-menu">
									<ion-buttons (click)="presentActionSheet()">
										<ion-icon name="menu-outline" size="large"></ion-icon>
									</ion-buttons>
								</div>
								<div class="task-link" routerLink="/auth" routerDirection="root"></div>
								<div class="task-name">Elif Yüksek Karakaş</div>
								<div class="task-no">TAKİP NO: TK03224</div>
								<div class="task-adress">Murat Reis Mahallesi Silahtarbahçe Sk No:40 D.3 Üsküdar/İstanbul</div>
							</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
				<!-- .task -->
								<!-- task -->
								<ion-item lines="none" class="ion-no-padding delivery-blank">
									<ion-grid class="ion-no-padding">
										<ion-row >
											<ion-col size="4">
												<div class="task-info">
													<div class="task-check"><ion-checkbox color="primary"></ion-checkbox></div>
													<div class="task-status">
														<ion-label>ATANDI</ion-label>	
													</div>
													<div class="task-order">3</div>
												</div>
												<div class="task-note">TOPLAMA</div>
												<div class="task-icon">
													<img src="../assets/svg/status-1.svg">
													<img src="../assets/svg/status-2.svg">
													<img src="../assets/svg/status-3.svg">
													<img src="../assets/svg/status-6.svg">
													<img src="../assets/svg/status-8.svg">
												</div>
											</ion-col>
											<ion-col size="8">
											<div class="task-detail">
												<div class="task-menu">
													<ion-buttons (click)="presentActionSheet()">
														<ion-icon name="menu-outline" size="large"></ion-icon>
													</ion-buttons>
												</div>
												<div class="task-name">Elif Yüksek Karakaş</div>
												<div class="task-no">TAKİP NO: TK03224</div>
												<div class="task-adress">Murat Reis Mahallesi Silahtarbahçe Sk No:40 D.3 Üsküdar/İstanbul</div>
											</div>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-item>
								<!-- .task -->
												<!-- task -->
				<ion-item lines="none" class="ion-no-padding delivery-blank">
					<ion-grid class="ion-no-padding">
						<ion-row >
							<ion-col size="4">
								<div class="task-info">
									<div class="task-check"><ion-checkbox color="primary"></ion-checkbox></div>
									<div class="task-status">
										<ion-label>ATANDI</ion-label>	
									</div>
									<div class="task-order">3</div>
								</div>
								<div class="task-note">TOPLAMA</div>
								<div class="task-icon">
									<img src="../assets/svg/status-1.svg">
									<img src="../assets/svg/status-2.svg">
									<img src="../assets/svg/status-3.svg">
									<img src="../assets/svg/status-6.svg">
									<img src="../assets/svg/status-8.svg">
								</div>
							</ion-col>
							<ion-col size="8">
							<div class="task-detail">
								<div class="task-menu">
									<ion-buttons (click)="presentActionSheet()">
										<ion-icon name="menu-outline" size="large"></ion-icon>
									</ion-buttons>
								</div>
								<div class="task-link" routerLink="/auth" routerDirection="root"></div>
								<div class="task-name">Elif Yüksek Karakaş</div>
								<div class="task-no">TAKİP NO: TK03224</div>
								<div class="task-adress">Murat Reis Mahallesi Silahtarbahçe Sk No:40 D.3 Üsküdar/İstanbul</div>
							</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
				<!-- .task -->
			</ion-list>
		</ion-col>
	</ion-grid>

</ion-content>